body {
  box-sizing: border-box;
}
.padding {
  margin-top: 7rem !important;
}

.spaced {
  margin: 0.10rem !important;
}
.card-margin {
  margin: 1rem !important;
}

.project-card {
  padding: 2rem !important;
}
