body {
  box-sizing: border-box;
}
.padding {
  margin-top: 7rem !important;
}

.spaced {
  margin: 0.10rem !important;
}
.card-margin {
  margin: 1rem !important;
}

.project-card {
  padding: 2rem !important;
}

.coming-soon {
  margin-top: 10rem !important;
  font-size: 5rem !important;
  color: crimson !important;
}

#countdown {
  font-size: 3rem !important;
  color: forestgreen !important;
}
